data/300w_public.pb filter=lfs diff=lfs merge=lfs -text
data/300w_private.pb filter=lfs diff=lfs merge=lfs -text
data/cofw.pb filter=lfs diff=lfs merge=lfs -text
data/aflw.pb filter=lfs diff=lfs merge=lfs -text
data/menpo.pb filter=lfs diff=lfs merge=lfs -text
